/*Estilização no menu-nav*/
.breadcrumb-item a.nav-link {
    position: relative;
    display: inline-block;
    color: black;
    transition: color 0.3s;
}

.breadcrumb-item a.nav-link:hover {
    color: #ffc107;
}

.breadcrumb-item a.nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffc107;
    /* Cor da linha */
}
