/*Estilização no menu-nav*/
.breadcrumb-item a.nav-link {
    position: relative;
    display: inline-block;
    color: black;
    transition: color 0.3s;
}

.breadcrumb-item a.nav-link:hover {
    color: #ffc107;
}

.breadcrumb-item a.nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffc107;
    /* Cor da linha */
}

body::before {
    content: "";
    width: 100%;
    height: 110%;
    position: absolute;
    background-image: url(img/carro-fundo.png);
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: center;
    filter: saturate(0);
    opacity: 0.053;
    z-index: -1;
}
